.cursor
# ---- IntelliJ IDEA / PyCharm ----
.idea/*
!.idea/misc.xml

# ---- VS Code ----
.vscode/*
!.vscode/settings.json

.venv
__pycache__
__pycache__/
.env
.env.local
.env.dev
.env.prod
node_modules/
dist/
s2n.egg-info/
.DS_Store

# Pytest
.pytest_cache/
.coverage
htmlcov/
coverage.xml
*.pyc
dist/

.clude/settings.local.json
.rtk/filters.toml
CLAUDE.md
result.*.*
password_crawling_cache.json
s2n_report_*.html
s2n_report_*.json
s2n_report_*.csv